body {
    margin: 0px;
}
*   { font-family: 'Jost', sans-serif;}

header{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    }

.top {
    font-size: 10px;
    text-align: center;
    letter-spacing: 1px;
    background: #f0f0f0
}

.headerLeft{
    width: auto;
    display: inline-block;
}

.headerLeft img {
    width: 30px;
    height: 30px;
}

.headerRight {

}

.headerRight img {
    width: 30px;
    height: 30px;
}


.logo {
    width: 138px;
}
.logo img {
    width: 145px;
    height: 38px;
}

.navInfo {
    text-align: center;
    padding: 15px 0px 10px 0px;
}

.navInfo a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    padding: 0px 20px;
}

.mainContentHome img {
    width: 100%;
}

.sectionOneHome {
    display: flex;
    padding: 0 6vw;
}

.infoSection {
    text-align: center;
    margin-top: 80px;
    
}

.infoSection h3 {
    font-family: Jost;
    letter-spacing: 3px;
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #454545;
    font-weight: 200;
}

.infoSection h1 {
    text-align: center;
    font-family: 'Source Serif Pro';
    font-size: 60px;
    letter-spacing: .5px;
    color: #4a4a4a;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.1;
}

.infoSection a {
    font-family: jost;
    text-align: center;
    display: block;
    margin: 0 auto 40px;
    width: 150px;
    line-height: 40px;
    height: 40px;
    background: #fff5e6;
    color: black;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none;
    
}

.mainImgContainer {
    width: 50vw;
    display: flex;
    justify-content: center;

}

.mainImgContainer img {
    width: 100%;
}

.mainInfoContainer{
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.mainInfoImgContainer img {
    width: 60%;
}

.mainInfoImgContainer{
    display: flex;
    justify-content: center;
}

.mainLinksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainLinksContainer a {
    text-decoration: none;
    color: #454545;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
}

.mainLinksContainer span {
    font-weight: bold;
    color: #454545;
    font-size: 1.3rem;
}

.mainLinksContainer span::after {
    margin: 0%;
}

.sectionTwoHome {
    display: flex;
    padding: 0 6vw;
    margin: 18vh 0px;
}

.mainLinksContainerTwo {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
}

.infoContainer {

    width: 287.67px;
    height: 209px;
    
}

.infoContainer h2 {
    letter-spacing: .5px;
    font-size: 45px;
    font-family: Source Serif Pro;
    line-height: 1.1;
    font-weight: 300;
    margin: 30px 0px 20px;
    text-align: right;

}

.infoContainer a {
    text-align: center;
    width: 150px;
    height: 40px;
    background-color: #fff5e6;
    display: block;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.mainImgContainerTwo {
    display: flex;
    justify-content: center;
    
}

.mainImgContainerTwo img {
    width: 60%;
    display: flex;

}

.mainImgContainerThree {
    width: 50vw;
}

.mainImgContainerThree img {
    width: 100%;
}

.sectionFour{
    display: flex;
    margin: 18vh 0px;
    width: 100%;
}

.imgSectionFour {
    width: 50vw;
}
.imgSectionFour img {
    width: 100%;
    
}

.infoSectionFour {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 546px;/*  aca le puse esto por que si no, no quedaba a la misma altura que la imagen de la izquierda */
    align-items: center;
    background-color: #f7f1e8;
    justify-content: center;
}


.infoSectionFour a:first-child {
    font-family: 'Source Serif Pro';
    font-weight: 200;
    font-size: 35px;
    margin: 0 0 20px 0;
}

.infoSectionFour span {
    margin: 0 0 20px 0;
}

.infoSectionFourSecondLink {
    color: #454545;
    line-height: 25px;
    width: 60%;
    margin: 0 auto 50px;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}

.infoSectionFourThreeLink {
    text-align: center;
    margin: 0 auto 40px;
    width: 150px;
    line-height: 40px;
    background: #fff;
    color: #454545;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.infoSectionFour a {
    text-decoration: none;
    color: black;

}

.caja1 {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.caja1 img{
    width: 100%;
}

.caja2 {
    width: 40px;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #404040;
    position: fixed;
    bottom: 0;
    right: 20px;
    text-align: center;
}

.caja2 a {
    color: white;
    text-decoration: none;
}

.sectionThree {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoSectionThree {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.infoSectionThree h2 {
    width: 551px;
    height: 80px;
    font-family: 'Source Serif Pro';
    font-weight: 200;
    font-size: 45px;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.infoSectionThree p {
    color: #454545;
    line-height: 25px;
    letter-spacing: 1px;
    width: 60%;
    font-weight: 300;
    font-size: 15px;
    margin: 0px 0px 30px;
}

.imgSectionThree {
    width: 551px;
    height: 827px;
    
}

.imgSectionThree img {
    width: 100%;
}

.infoSectionThree a {
    text-align: center;
    width: 150px;
    height: 40px;
    background-color: #fff5e6;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.sectionFiveMobile {
    display: flex;
    width: 200px;
    height: fit-content;
    text-align: center;
    background: rgb(255 255 255/70%);

}

.infoSectionFiveMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;

}

.infoSectionFiveMobile p {
    text-align: center;
    width: 250px;
}

.infoSectionFiveMobile b {
    margin-left: 40px;
}


.sectionFive {
    margin: 120px 0px;
    width: 100%;
    height: 450px;
    position: relative;
}

.sectionFive img {
    width: 100%;
}

.infoSectionFive {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: fit-content;
    text-align: center;
    left: 10px;
    top: 0px;
    bottom: 30px;
    background: rgb(255 255 255/70%);
    padding-bottom: 30px;
}

.infoSectionFive h2:first-child {
    margin: 20px;
    font-size: 20px;
    letter-spacing: .5px;
    color: #000;
    font-weight: 400;
}

.elSalvador {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 15px 0px;
}

.laPlata {
    margin: 0;
    padding: 20px 0px;
}

.horarios {
    margin: 0;
    font-weight: 500;
    font-size: 0.9rem;
}




@media screen and (max-width: 1000px){
    .sectionOneHome {
        flex-direction: column;
        gap: 5vh;
    }
    .mainImgContainer{
        width: 100%;
    }
    .mainInfoContainer {
        width: 100%;
    }

    .sectionTwoHome {
        flex-direction: column;
        gap: 5vh;
    }
    .mainLinksContainerTwo{
        width: 100%;
    }
    .mainImgContainerThree {
        width: 100%;
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .infoContainer h2 {
        text-align: center;
    }

    .sectionFour {
        display: flex;
        flex-direction: column;
    }
    .imgSectionFour {
        width: 100%;
    }

    .infoSectionFour {
        width: 100%;
        height: 546px;
    }
    
    .navInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .infoSectionThree h2 {
        width: 430px;
        height: 80px;
    }

    .imgSectionThree {
        width: 400px;
        height: 827px;
    }

    .infoSectionFive{
        display: none;
}

.infoSectionFiveMobile {
    display:flex;
}
}